difficulty level:
every 15 seconds, tank trap spaw, the delay between tank or mortar reduce or the speed of the gas ball increment

health:
tank: 10
tank trap: 5
mortar: 20
terret: 30

damage: 
the player take 1dmg every seconds while they are in the gas
the player take 10 damage from tank
the player take x damage from mortar
when the player is in the range of a terret, the damage he takes is multiplied by 2

main canon does 10 dmg
missiles do 4 damage each
machine gun do 1 damage